.apply-button unit{
background-color:var(--primary)
    border-color:var(--primary);
  color:black;
}

.time-plugin-container input[type=time], .time-plugin-container select {
    padding: .5rem;
}

.calendar>.header button:hover>img, .calendar>.header button:hover>svg{
color:var(--primary);
fill:var(--primary); 
}


.calendar>.days-grid>.day.selected{
background-color:var(--primary);
  border-color:var(--primary);
}
