.apply-button unit,.container>footer, .footer-buttons>button.apply-button{
background-color:var(--primary)
    border-color:var(--primary);
  color:black;
}
.container > footer .footer-buttons > button.apply-button:disabled {
background-color:var(--primary)
    border-color:var(--primary);
  color:black;
    opacity:.75;
}
.time-plugin-container input[type=time], .time-plugin-container select {
    padding: .5rem;
}

.calendar>.header button:hover>img, .calendar>.header button:hover>svg{
color:var(--primary);
fill:var(--primary); 
}


.calendar>.days-grid>.day.selected{
background-color:var(--primary);
  border-color:var(--primary);
    color:black;
}

.calendar>.days-grid>.day:hover{
color:var(--primary);
  border-color:var(--primary);
}
